:root{
    --color1: #05b1b1;
    --color2: #52339a;
}

header, footer, section{
    padding: 100px 0;

}

header{
    padding: 200px 0;
}

header, footer{
    background: #05b1b1;
    background: linear-gradient(to right, #05b1b1 0%, #52339a 100%);
    background-size: contain;
}

header, footer{
    background: url(../img/pattern.png), #05b1b1;
    background: url(../img/pattern.png), linear-gradient(to right, #05b1b1 0%, #52339a 100%);
    background-size: contain;
}

.itd_play{
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto 30px;
    transition: all 0.2s case;

}

.itd_triangle{
   
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.itd_triangle{
    margin: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd{
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 20px;
    color: var(--bs-white);
    background-color: var(--color2);
}


.video-responsive{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

}

.video-responsive iframe, .video-responsive object, .video-responsive embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* HOVERS */
.itd_play:hover{
    background-color: var(--color2);
}

.btn-itd:hover{
    color: var(--bs-white);
    background-color: var(--color1);
}
